/** 

Fichier pour les variables du thème (couleurs, root, polices)

*/

:root{

  /* ***************************************************************************** Couleurs *** */
  --deep-red: #B30000;
  --golden-yellow: #FFD700;
  --charcoal-gray: #333333;
  --sage-green: #8F9779;
  --creamy-beige: #EDE9E4;
  --teal-blue: #007A7C;
    
  
  
  /* **************************************************************** Polices *** */
  --police-titre:'Montserrat', sans-serif;
  --police-texte: 'Noto Serif', serif;
  
  /* ***************************************************************************** Espacement *** */
  

  
  }