/** 

Fichier pour les variables du thème (couleurs, root, polices)

*/

:root{

  /* ***************************************************************************** Couleurs *** */
  --rouge: #85101F;
  --beige: #cfb419;
  --grey: #333333;
  --brun: #542A16;
  --cream: #F9F5E3;
  --rouge-trans: #851020b9;
  
  /* **************************************************************** Polices *** */
  --police-titre:'Noto Serif', serif;
  --police-texte: 'Montserrat', sans-serif;
  
  /* ***************************************************************************** Espacement *** */
  
/* ***************************************************************************** shadow *** */
    --text-shadow-petit: 2px 2px 4px rgba(0,0,0,0.26);

  }