/* 
** Tout ce qui concerne le carrousel
*/
.my-slider-progress {
    background: #ccc;
  }
  
  .my-slider-progress-bar {
    background: var(--golden-yellow);
    height: 2px;
    transition: width 400ms ease;
    width: 0;
  }
.splide__slide img {
    display: block;
    margin: 0 auto;
}
/* Center the slides within the slider */
.splide__track {
  display: flex;
  justify-content: center;
}