/* 
** Tout ce qui concerne la page menu
*/

.tippy-box[data-theme~='menu'] {
    background-color: var(--rouge-transV2);
    color: var(--cream);
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);    
  }
.menu-volonte{
    .texte-anglais{
        font-weight: lighter;
        font-style: italic;
    }
    .acf-content{
        display: none;
    }
    .information-volonte{
        .container-categorie-content{
            flex-direction: column;
            div{
                max-width: 60%;
                p{
                    font-size:medium;
                }
            }
        }
        .mot_gsap{
            h2{
                margin: 0;
            }
        }

    }
}
.vedette{
    .titre-vedette{
        position: absolute;
        top: 30%;
        left: 10%;
        z-index: 4;
        color: var(--cream);
        h1{
            font-size: clamp(3rem, 1.8rem + 6.4vw, 5rem);
        }
        h3{
            margin-top: 2rem;
            font-size: 1rem;
        }
    }
    .voile-carrou{
        position: absolute;
        height: 100dvh;
        width: 100dvw;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 3;
        pointer-events: none;
    }
}
.menus{
    .nourriture{
        background-color: var(--cream);
        
        }
    .spikes {
        position: relative;
        background: var(--cream);
        height: 10px;
        box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);    
      }
      
      .spikes::after {
        content: '';
        position: absolute;
        right: 0;
        left: -0%;
        top: 100%;
        z-index: 10;
        display: block;
        height: 10px;
        background-size: 10px 100%;
        background-image: linear-gradient(135deg, var(--cream) 25%, transparent 25%), linear-gradient(225deg, var(--cream) 25%, transparent 25%);
        background-position: 0 0;
        
      }
      .spikesDeux {
        position: relative;
        background: var(--cream);
        height: 10px;
        transform: scaleY(-1);
        }
      
      .spikesDeux::after {
        content: '';
        position: absolute;
        right: 0;
        left: -0%;
        top: 100%;
        z-index: 10;
        display: block;
        height: 10px;
        background-size: 10px 100%;
        background-image: linear-gradient(135deg, var(--cream) 25%, transparent 25%), linear-gradient(225deg, var(--cream) 25%, transparent 25%);
        background-position: 0 0;
        
      }
    .button-menu{
        display: flex;
        justify-content: space-around;
        width: 60%;
        margin: 2rem auto;
    }
    ///////////////////////////////////////////
    .fancy {
        background-color: transparent;
        border: 2px solid var(--cream);
        border-radius: 0;
        box-sizing: border-box;
        color: var(--rouge);
        cursor: pointer;
        display: inline-block;
        font-weight: 700;
        letter-spacing: 0.05em;
        margin: 0;
        outline: none;
        overflow: visible;
        padding: 0.75em;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: none;
        transition: all 0.3s ease-in-out;
        user-select: none;
        font-size: 13px;
       }
       
       .fancy .text {
        font-size: clamp(0.5rem, 0.2rem + 1.6vw, 1rem);
        line-height: 1.33333em;
        display: block;
        text-align: left;
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--cream);
       }
       
       .fancy .top-key {
        height: 2px;
        width: 1.5625rem;
        top: -2px;
        left: 0.625rem;
        position: absolute;
        background: var(--rouge);
        transition: width 0.5s ease-out, left 0.3s ease-out;
       }
       
       .fancy .bottom-key-1 {
        height: 2px;
        width: 1.5625rem;
        right: 1.875rem;
        bottom: -2px;
        position: absolute;
        background: var(--rouge);
        transition: width 0.5s ease-out, right 0.3s ease-out;
       }
       
       .fancy .bottom-key-2 {
        height: 2px;
        width: 0.625rem;
        right: 0.625rem;
        bottom: -2px;
        position: absolute;
        background: var(--rouge);
        transition: width 0.5s ease-out, right 0.3s ease-out;
       }
       
       .fancy:hover {
        color: var(--beige);
        background: var(--grey);
       }
       
       .fancy:hover::before {
        width: 0.9375rem;
        background: var(--beige);
       }
       
       .fancy:hover .text {
        color: var(--beige);
        padding-left: 1.5em;
       }
       
       .fancy:hover .top-key {
        left: -2px;
        width: 0px;
       }
       
       .fancy:hover .bottom-key-1,
        .fancy:hover .bottom-key-2 {
        right: 0;
        width: 0;
       }
       ///////////////////////
    h1,h2{
        text-align: center;
    }
    h1{
        font-size: 3rem;
        margin: 3rem;
    }
    h2{
        color: var(--cream);
        font-size: clamp(1.5rem, 1.2rem + 1.6vw, 2rem);
        margin: 2rem;
    }
    h3{
        font-size: 1.5rem;
        margin: 1.5rem;
    }
    a{
        color: black;
    }
    h5{
        width: fit-content;
        color: black;
    }
    .article-menu{
        display: flex;
        justify-content: space-between;
        
        
       }
       .hr-article{
        margin-bottom: 0.5rem;
       }

    section{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 80%;
        div{
            h2{
                color: var(--grey);
            }
        }
        .container-images-menu{
            width: 300px;
            height: 300px;
            overflow: hidden;
            display: none;
            justify-content: center;
            border-radius: 14px;
            box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);

            .images-menu{
                width: auto;
                height: 300px;
            }
        }
        .categorie-menu{
            margin: 3rem 0;
            padding: 2rem;
        }
        .categorie-menu > div{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .categorie-menu:nth-child(2n) > div {
            flex-direction: row-reverse;
        }

        .nourriture {
            margin-bottom: 2rem;
            .menu-contenu{
                display: flex;
                flex-direction: column;
                width: clamp(18.75rem, 15rem + 20vw, 25rem);
                .article-contenu{
                    display: none;
                }
            }
        }
    }
}
  @media screen and (min-width: $largeur__tablette) {
    /* Styles pour les écrans de taille tablette et plus */
    .vedette{
        .titre-vedette{
            position: absolute;
            top: 30%;
            left: 10%;
            z-index: 4;
            color: var(--cream);
            h1{
                font-size: 7rem;
            }
            h3{
                margin-top: 2rem;
                font-size: 1rem;
            }
        }
    }
    .menus{
        .gros-titre{
            font-size: 3rem;
        }
        .fancy {
            background-color: transparent;
            border: 2px solid var(--cream);
            border-radius: 0;
            box-sizing: border-box;
            color: var(--rouge);
            cursor: pointer;
            display: inline-block;
            font-weight: 700;
            letter-spacing: 0.05em;
            margin: 0;
            outline: none;
            overflow: visible;
            padding: 1.25em 2em;
            position: relative;
            text-align: center;
            text-decoration: none;
            text-transform: none;
            transition: all 0.3s ease-in-out;
            user-select: none;
            font-size: 13px;
           }
           //barre a gauche du texte
           .fancy::before {
            content: " ";
            width: 1.5625rem;
            height: 2px;
            background: var(--cream);
            top: 50%;
            left: 1.5em;
            position: absolute;
            transform: translateY(-50%);
            transform-origin: center;
            transition: background 0.3s linear, width 0.3s linear;
           }
           
           .fancy .text {
            font-size: 1.3em;
            line-height: 1.33333em;
            padding-left: 2em;
            display: block;
            text-align: left;
            transition: all 0.3s ease-in-out;
            text-transform: uppercase;
            text-decoration: none;
            color: var(--cream);
           }
           
           .fancy .top-key {
            height: 2px;
            width: 1.5625rem;
            top: -2px;
            left: 0.625rem;
            position: absolute;
            background: var(--rouge);
            transition: width 0.5s ease-out, left 0.3s ease-out;
           }
           
           .fancy .bottom-key-1 {
            height: 2px;
            width: 1.5625rem;
            right: 1.875rem;
            bottom: -2px;
            position: absolute;
            background: var(--rouge);
            transition: width 0.5s ease-out, right 0.3s ease-out;
           }
           
           .fancy .bottom-key-2 {
            height: 2px;
            width: 0.625rem;
            right: 0.625rem;
            bottom: -2px;
            position: absolute;
            background: var(--rouge);
            transition: width 0.5s ease-out, right 0.3s ease-out;
           }
           
           .fancy:hover {
            color: var(--beige);
            background: var(--grey);
           }
           
           .fancy:hover::before {
            width: 0.9375rem;
            background: var(--beige);
           }
           
           .fancy:hover .text {
            color: var(--beige);
            padding-left: 1.5em;
           }
           
           .fancy:hover .top-key {
            left: -2px;
            width: 0px;
           }
           
           .fancy:hover .bottom-key-1,
            .fancy:hover .bottom-key-2 {
            right: 0;
            width: 0;
           }
    }
  }
  
  @media screen and (min-width: $largeur__bureau) {
    /* Styles pour les écrans de taille bureau */
    .container-categorie-content{
        min-height: 300px;
    }
    .container-images-menu{
        display: flex !important;
    }
    .menu-contenu{
        width: 500px;
    }
  }
  